*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(100deg, red, blue);

}
.content{
    width: 35%;
    max-height: 500px;
    background-color:#fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 350px auto;
}

.content input{

        width: 90%;
        padding: 10px 5px;
        margin: 0px 20px ;
        font-size: 20px;
        border: none;
        outline: none;
}
.content img{
        width: 50px;
        margin-right: 10px;
        cursor: pointer;
    
}